<%- contentFor('page') %>
<div ng-app="Mainapp">
	<div ng-controller="MainCtrl">
		<div ng-show="editing">editing: {{ text }}</div>
	</div>
</div>

<script src="/angular/angular.min.js"></script>
<script src="/indexapp/app.js"></script>
<script src="/angular/angular-route.min.js"></script>
<script src="/angular/angular-resource.min.js"></script>