<!-- Left side column. contains the logo and sidebar -->
<aside class="left-side sidebar-offcanvas">                
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li>
                <a href="/">
                    <i class="fa fa-home"></i> <span>Home</span>
                </a>
            </li>
            <li>
                <a href="/editprofile">
                    <i class="fa fa-user"></i> <span>Profile</span>
                </a>
            </li>

            <% if(logged){ %>
            <li>
                <a href="/recordAudio">
                    <i class="fa fa-user"></i> <span>Record Audio</span>
                </a>
            </li>
            <li>
                <a href="/myAudios">
                    <i class="fa fa-user"></i> <span>My Recorded Audios</span>
                </a>
            </li>

                <% if(isEvaluator){ %>
                    <li>
                        <a href="/scoreClips">
                            <i class="fa fa-user"></i> <span>Score Clips</span>
                        </a>
                    </li>                    
                <% } %>
            <% } %>

            <% if(isAdmin){ %>
            <li>
                <a href="/createclass">
                    <i class="fa fa-bars"></i> <span>Add Class</span>
                </a>
            </li>
            <li>
                <a href="/editclasses">
                    <i class="fa fa-edit"></i> <span>Edit Class</span>
                </a>
            </li>
            <li>
                <a href="/classreg">
                    <i class="fa fa-group"></i> <span>Add/Edit Class Registration</span>
                </a>
            </li>
            <li>
                <a href="/manageEvaluators">
                    <i class="fa fa-group"></i> <span>Add/Remove Evaluators</span>
                </a>
            </li>
            <% } %>
            
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>