<div ng-controller="loginController">

{{ t_registerMsg }} <a href="/register">{{ t_here }}</a>
<br>
<br>

    <div class="pull-left col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Login</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post" action="/login" novalidate name="userForm" ng-submit="submitForm(userForm.$valid)">
                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">{{ t_email }}</label>
                        <input ng-model="email" required type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">

                        <span style="color:red" ng-show="userForm.email.$dirty && userForm.email.$invalid">
                                  <span ng-show="userForm.email.$error.required">Email is required.</span>
                        <span ng-show="userForm.email.$error.email">Invalid email format.</span>
                        </span>

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">{{ t_password }}</label>
                        <input ng-model="password" required type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        <span style="color:red" ng-show="userForm.password.$dirty && userForm.password.$invalid">
                                <span ng-show="userForm.password.$error.required">Password is required.</span>
                        </span>
                    </div>

                    <div class="form-group">

                        <div >
                            <label>
                                <input ng-model="remember" name="remember" type="checkbox"> {{ t_remember }}
                            </label>
                        </div>
                        <div class="pull-right">
                            <span style="margin-right: 5px;">{{ errorMsg }}</span>
                            <button type="button" ng-disabled="userForm.$invalid" ng-click="doLogin()" class="btn btn-primary">{{ t_login }}</button> 
                        </div>
                    </div>
                    <div class="form-group">

                    </div>
                    <span class="clearfix"></span>
                </div>
                <!-- /.box-body -->


            </form>
            <div class="box-footer">
                <!-- To Register Click <a href="/register">Here</a> -->
            </div>
        </div>
    </div>
</div>
